
/* Custom Styles */

/* Matrix Effect */

@keyframes matrixEffect {
    0% {
       color: #00ff00;
       text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
    }
    100% {
       color: #008000;
       text-shadow: 0 0 5px #008000, 0 0 10px #008000, 0 0 15px #008000, 0 0 20px #008000;
    }
  }
  
.matrix-effect {
    animation: matrixEffect 1s linear infinite;
    font-family: "Courier New", monospace;
}
  
@keyframes typing {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}
  

/* styles.css */
  
.skill-bar:hover {
   cursor: pointer;
}
 
.skill-bar.slide-in {
   animation: slide-in 1.5s forwards;
}
 
@keyframes slide-in {
   0% {
     width: 0;
   }
   100% {
     width: var(--skill-width, 100%);
   }
}
