/* Matrix Effect */
@keyframes matrixEffect {
    0% {
       color: #00ff00;
       text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
    }
    100% {
       color: #008000;
       text-shadow: 0 0 5px #008000, 0 0 10px #008000, 0 0 15px #008000, 0 0 20px #008000;
    }
 }
 
 .matrix-effect {
    animation: matrixEffect 1s linear infinite;
    font-family: "Courier New", monospace;
 }

@keyframes typing {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}



.terminal {
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  overflow-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5;
  color: #00ff00;
}



@keyframes closing {
  0% {
    opacity: 1;
    height: 100%;
  }
  99% {
    opacity: 0;
    height: 0;
  }
  100% {
    display: none;
  }
}

.terminal-closing {
  animation: closing 1s linear forwards;
}




@keyframes cursor-blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: cursor-blink 1s infinite;
}


  
